/**	----------------**/
/**					**/
/**		 GENERAL	**/
/**					**/
/**	----------------**/



body{
font-family: Roboto, sans-serif;
font-size:18px;
font-weight:300;
letter-spacing:0.5px;
margin:0px;
}

#bodywrapper{

}

#insurancewrapper{
float:left;
display:inline-block;
width:50%;
}


#slideshow {
z-index:-10000;
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip: rect(auto, auto, auto, auto); 
}
#slideshow .slide img{
z-index:-10000;
    width:100vw;

}

.slide{
position:absolute;
}

.TextHeader{
margin:18px;
}

.CategorizedText{
display:none;
}

.CategoryText{
margin:25px;
font-size:13px;
}

.FAQinfo{
margin-top:10px;
line-height:20px;
margin-bottom:20px;
}

a{
color:white;
text-decoration:none;
}



/**	----------------**/
/**					**/
/**		 HEADER		**/
/**					**/
/**	----------------**/



#Header{
position:fixed;
background-color:#3a5cac;
color:white;
padding-top:25px;
padding-bottom:25px;
}

#CompanyInfoHeader{
position:relative;
width:40vw;
display:inline-block;
float:left;
}

#CompanyTitle{
position:relative;
font-family: Lora, serif;
font-weight:300;
font-size: 1em;
border-right: 1px dashed white;
margin-left:10vw;
padding-right:5vw;
padding-top:10px;
height:90px;
}


/**	----------------**/
/**					**/
/**		NAVIGATION	**/
/**					**/
/**	----------------**/


#Navigation{
float:left;
width:60vw;
padding-top:15px;
}

#NavLinkWrapper{
padding-left:50px;
}

.NavigationLink{
float:left;
font-size:1.2vw;
text-align:center;
color:#799df2;
display:inline-block;
width:5vw;
padding:2vw;
  transition-property: color, color;
  transition-duration: .2s;
  transition-timing-function: ease-out;

}

.NavigationLink:hover{
text-decoration:underline;
color:white;
 transition-property: color, color;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}




/**	----------------**/
/**					**/
/**		MAIN BODY	**/
/**					**/
/**	----------------**/


#BodyContent{
margin-top:100vh;
position:absolute;
z-index:-100;
width:60vw;
margin-left:20vw;
display:inline-block;
margin-bottom:200px;
}

#BodyContentInsurance{
width:25%;
float:left;
margin-left:50px;
display:inline-block;
}

#BodyContentInsurance1{
width:25%;
float:left;
margin-left:50px;
display:inline-block;
}

p.generaltext{
font-size:15px;
}

p.textheader{
font-size:25px;
}
.sectiontext{
padding:50px;
}
img.insurancebutton{
margin:8px;
}

img.bgimg{
margin-top:70px;
width:100vw;
}

.chartwrapper{
width:60vw;
height:auto;
}

.chart{
width:25vw;
margin-left:2.5vw;
margin-right:2.5vw;
float:left;
border-bottom: 1px dashed;
}

p.chartheader{
font-size:20px;
color:#3a5cac;
margin-bottom:0px;
}

.charttext{
margin-bottom:30px;

}

ul.chartlist{
font-size:13px;
color:black;
}


/**	----------------**/
/**					**/
/**		  IPAD		**/
/**					**/
/**	----------------**/



@media only screen 
and (min-width : 580px) 
and (max-width : 1000px)

{

#Header{
padding-top:10px;
padding-bottom:0px;
}
#CompanyInfoHeader{
width:100vw;
}

#CompanyTitle{
height:5vh;
text-align:center;
}

.NavigationButton{
width:150px;
font-size:2.5vw;
white-space:nowrap;
}

#Navigation{
width:100vw;
padding-bottom:0px;
margin-bottom:0px;
}

.NavigationLink{
width:11vw;

}

#BodyContent{
margin-top:100vh;
}

#slideshow-container{
display:none;
}


}



/**	----------------**/
/**					**/
/**		MOBILE		**/
/**					**/
/**	----------------**/



@media only screen 
and (min-width : 0px) 
and (max-width : 580px)

{

#Header{
position:relative;
height:45vw;
}

#Navigation{
padding-top:0px;
position:relative;
margin:0px;
width:100vw;
}

#CompanyInfoHeader{
width:100vw;
}

.NavigationButton{
padding-top:5px;
padding-bottom:5px;
white-space:nowrap;
}

#NavLinkWrapper{
padding-left:0px;
}

.NavigationLink{
font-size:12px;
width:25vw;
}

#slideshow-container{

display:none;
}

#slideshow{
top:55vw;
}

#ProfilePicture{
display:none;
}

#MainBody{
margin-top:0px;
width:80%;
}

#BodyContent{
margin:0;
margin-top:40vh;
width:100%;
}
.chart{
width:100vw;
}

li{
font-size:14px;
}
#BodyContentInsurance{
width:100%;
margin:0px;
}